body{
    background-image : url("assets/fond8.jpg") ;
    background-repeat: no-repeat;
    background-position: top 85px left 0px;
    background-size: 100%;
    background-color: black;

    display:flex;
    flex-direction: column;
}
.ti{
    background-color:white;
    display:inline-block;

    border-radius: 25px 25px;
    margin-top: 500px;
    margin-left: 300px;
    text-align:center;
    width: 1000px;
    
}
.par{
    font-size: 70px;
    color:black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.p{
    color:black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resu{
    position:absolute;
    color: white;
    width:500px;
    margin-left: 350px;
    margin-top:900px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nouveau{
    position:absolute;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: white;
    margin-left: 300px;
    width: 500px;
    padding-left:250px;
    padding-right:250px;
    text-align:center;
    border-radius:25px 25px;
    margin-top:1450px;
}

.image{
    position:absolute;
    margin-left:20px;
    width: 160px;
    height:80px;  
}
.image2{
    margin-left: 900px;
    width:350px;
    height: 500px;
}
.image3{
    height: 150px;
    width: 280px;
    margin-top:10px;
}
.image4{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 50px;
}
.image5{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 90px;
}
.image6{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 125px;
}
.video{ 
    margin-left:400px;
    margin-top:200px;
    width:800px;
    height:400px;
}
ul{
    display:inline-block;
    text-decoration:none;
    list-style-type: none;
}
nav{
    background-color: black;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size:25px;
    padding:10px;
}
nav a{
    width:100px;
    display:block;
    padding:50px;
    text-decoration: none;
    position:absolute;
    margin-left:150px;
}
.nav1{
    margin-left: 200px;
    position:absolute;
}
.nav2{
    margin-left: 400px;
    position:absolute;
}
.nav3{
    margin-left: 600px;
    position:absolute;
}
.nav4{
    position:flex;
    margin-left: 1000px;
}
.nav5{
    margin-left: 800px;
    position:absolute;
}
.contenue{
    flex: 1 0 auto;

}
.contacte{
    color:black;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:150px;
}
.propos{
    display:inline-block;
    position:absolute;
    margin-left:150px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:55px;
}
.qui{
    text-decoration: none;
    color:black;
}
.suivre{
    color:black;
    position:absolute;
    display:inline-block;
    margin-left:500px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color:  #D3D3D3;
    flex-shrink: 0;
}
.suivre{
    color:black;
    position:absolute;
    display:inline-block;
    margin-left:500px;
    font-family: Arial, Helvetica, sans-serif;
}