body{
    margin:0;
    background-position: top 85px left 0px;
    background-size: 100%;
    display:flex;
    flex-direction: column;
}
.div1{
    background-color: #FAFAFA;
    display:flex;
    align-items:center;
    text-align:center;
    flex-direction: column;

}
.p1{
    width:600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150% ;
    display:flex;
}
.titre1{
    font-size: 250% ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display:block;
}
.histoire{
    width:200px;
    height:500px;
    display :flex;
}
.image{
    margin-left:20px;
    width: 160px;
    height:80px;  
    border-radius: 20px 20px;
    position: absolute;
    
}
.image3{
    height: 150px;
    width: 280px;
    margin-top:10px;
}
.image4{
    width: 30px;
    height: 30px;
    position:absolute;
    margin-left: 460px;
    margin-top: 50px;
}
.image5{
    width: 30px;
    height: 30px;
    display:none;
    position:absolute;
    margin-left: 460px;
    margin-top: 90px;
}
.image6{
    width: 30px;
    height: 30px;
    position:absolute;
    margin-left: 460px;
    margin-top: 125px;
}
p a{
    text-decoration:none;
    color:black;
}
ul{
    display:inline-block;
    text-decoration:none;
    list-style-type: none;

}
nav{
    background-color: black;
    height: 100px;

    
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size:25px;
    padding:10px;

}
nav a{
    width:100px;
    display:block;
    padding:50px;
    text-decoration: none;
    position:absolute;
    margin-left:150px;
}
.nav1{
    margin-left: 200px;
    position:absolute;
}
.nav2{
    margin-left: 400px;
    position:absolute;
}
.nav3{
    margin-left: 600px;
    position:absolute;
}
.nav4{
    position:flex;
    margin-left: 1000px;
}
.nav5{
    margin-left: 800px;
    position:absolute;
}
.contenue{
    flex: 1 0 auto;
}
.contacte{
    color:black;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:150px;
}
.propos{
    display:inline-block;
    position:absolute;
    margin-left:150px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:55px;
}
.qui{
    text-decoration: none;
    color:black;
}
.suivre{
    color:black;
    position:absolute;
    display:inline-block;
    margin-left:500px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color:  #D3D3D3;
    flex-shrink: 0;
    margin-top:200px;
    display:none;
}