body{
    margin:0;
    background-position: top 85px left 0px;
    background-size: 100%;
    display:flex;
    flex-direction: column;
    background-color: #FAFAFA;
}
/* Style de base du corps */
body {
    margin: 0;
    background-position: top 85px left 0px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

/* Image du logo */
.image {
    margin-left: 20px;
    width: 160px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
}

/* Navigation */
nav {
    background-color: black;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Augmenter cet espace entre les éléments */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}


/*contenue de la page*/

/*Partie 1 : Présentation de la page */

.div_presentation_page{
    display:flex;
    align-items:center;
    margin-left:300px;
}
.titre_principale{
    font-size: 250% ;
    font-family: "Alfa Slab One", serif;
    font-weight: 800px;
    font-style: normal;  
    display:flex;
}
.image_tom1{
    width : 300px;
    height:400px;
    padding:50px;
}
.texte_presentation_page{
    font-size:160%;
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    display:flex;
    width:600px; 
}

/*partie 2 : synopsis*/

.syno{
    display:flex;
    align-items:center;
    margin-left:150px;
    width : 500px;
    flex-direction: column;
}
.titre{
    font-size: 250% ;
    font-family: "Alfa Slab One", serif;
    font-weight: 800px;
    font-style: normal;  
    display:flex;
    margin-left:300px;
}
.texte_synopsis{
    font-size:160%;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    width:970px;
    margin-left:300px;  
}

/*partie 3 : origine */

.texte_origine{
    font-size:160%;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    width:500px;
    margin-left:300px;
}
.div_origine{
    display:flex;
    align-items:center;
}
/*partie 4: auteur */ 
.image_auteur1{
    width : 350px;
    height:450px;
    margin-left: 100px;
}

.div_auteur{
    display: flex;
    align-items: center;
}
.image_auteur2 {
    width: 400px;
    height: 450px;
    margin-left: 300px;
    margin-top: 25px; /* Réduit l'espace vertical entre l'image et le titre */
}
.titre_auteur{
    font-size: 250% ;
    font-family: "Alfa Slab One", serif;
    font-weight: 800px;
    font-style: normal;  
    display:flex;
    margin-left:100px;
}
.texte_auteur{
    font-size:160%;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    width:500px;
    margin-left:100px;
}
/* partie 5 : histoire*/
.titre_histoire{
    font-size: 300% ;
    font-family: "Alfa Slab One", serif;
    font-style: normal;  
    display:flex;
    margin-left:650px;
}

.image_histoire{
    width:250px;
    height:250px;
    display: flex;
}
.titre_le_commencement{
    font-size: 215% ;
    font-family: "Alfa Slab One", serif;
    font-weight: 800px;
    font-style: normal;  
    display:flex;
    margin-left:300px;
}

.texte_histoire{
    font-size:150%;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    width:970px;
    margin-left:300px;  
}


.footer{
    flex: 1 0 auto;
}
.contacte{
    color:black;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:150px;
}
.propos{
    display:inline-block;
    position:absolute;
    margin-left:150px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:55px;
}
.qui{
    text-decoration: none;
    color:black;
}
.suivre{
    color:black;
    position:absolute;
    display:inline-block;
    margin-left:500px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color:  #D3D3D3;
    flex-shrink: 0;
    margin-top:200px;
    display:flex;
}
.image3{
    height: 150px;
    width: 280px;
    margin-top:10px;
}
.image4{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 50px;
}
.image5{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 90px;
}
.image6{
    width: 30px;
    height: 30px;
    display:inline-block;
    position:absolute;
    margin-left: 460px;
    margin-top: 125px;
}