body{
    background-image : url("fond8.jpg") ;
    background-repeat: no-repeat;
    background-position: top 85px left 0px;
    background-size: 100%;
}
.p1{
    background-color: white;
    display:inline-block;
    margin-top: 200px;
    margin-left: 200px;
    padding:2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.titre{
    background-color:white;
    display:inline-block;
    margin-top: 200px;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 300%;
    text-align:center;
}
li{
    list-style-type: none;
    float:left;

}
nav.nav ul{
    display : inline-block ;

}
nav ul li a{
    text-decoration:none;
    color: black;
    font-size:25px;
    padding:10px;
} 
nav{
    background-color: black;
}

h1{
    color:white
}
.img{
   position:absolute;   
   margin-left:20px;
   width: 170px;
   height:80px;  
}
nav a{
    width:100px;
    display:block;
    padding:30px;
    text-decoration: none;
    text-align: right;
    position:flex;
    margin-left:150px;
}
.nav1 {
    margin-left: 80px;
    padding-left: 200px;
    position:absolute;
}
.nav2 {
    margin-left: 300px;
    position:absolute;
}
.nav3 {
    margin-left: 600px;
    position:absolute;
}
.nav4 { 
    margin-left:200px;
}




